Repository onionshare/onionshare, changes with the owners that .github/CODEOWNERS names for each.
All owners: @micahflee, @emmapeel2, @mig5

Import setup in setup.py from setuptools instead of distutils.core
  setup.py
Owners: @micahflee

Import setup in setup.py from setuptools instead of distutils.core
  setup.py
Owners: @micahflee

Add include_data_files back to setup call, and ignore built snaps
  .gitignore
  setup.py
Owners: @micahflee

Add include_data_files back to setup call, and ignore built snaps
  .gitignore
  setup.py
Owners: @micahflee

Keep save button disabled if changed username invalid
  onionshare_gui/tab/tab.py
  share/static/js/chat.js
  share/templates/chat.html
Owners: @micahflee

Keep save button disabled if changed username invalid
  onionshare_gui/tab/tab.py
  share/static/js/chat.js
  share/templates/chat.html
Owners: @micahflee

Update username via both socket and ajax
  onionshare/web/chat_mode.py
  share/static/css/style.css
  share/static/js/chat.js
Owners: @micahflee

Update username via both socket and ajax
  onionshare/web/chat_mode.py
  share/static/css/style.css
  share/static/js/chat.js
Owners: @micahflee

Translated using Weblate (Dutch) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/nl/
  share/locale/nl.json
Owners: @emmapeel2

Translated using Weblate (Dutch) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/nl/
  share/locale/nl.json
Owners: @emmapeel2

Translated using Weblate (Dutch) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/nl/
  share/locale/nl.json
Owners: @emmapeel2

Translated using Weblate (Dutch) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/nl/
  share/locale/nl.json
Owners: @emmapeel2

Translated using Weblate (Norwegian Bokmål) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/nb_NO/
  share/locale/nb.json
Owners: @emmapeel2

Translated using Weblate (Norwegian Bokmål) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/nb_NO/
  share/locale/nb.json
Owners: @emmapeel2

Translated using Weblate (Chinese (Simplified)) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/zh_Hans/
  share/locale/zh_Hans.json
Owners: @emmapeel2

Translated using Weblate (Bengali) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/bn/
  share/locale/bn.json
Owners: @emmapeel2

Translated using Weblate (Bengali) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/bn/
  share/locale/bn.json
Owners: @emmapeel2

Translated using Weblate (Chinese (Simplified)) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/zh_Hans/
  share/locale/zh_Hans.json
Owners: @emmapeel2

Translated using Weblate (Swedish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/sv/
  share/locale/sv.json
Owners: @emmapeel2

Translated using Weblate (Swedish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/sv/
  share/locale/sv.json
Owners: @emmapeel2

Translated using Weblate (Ukrainian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/uk/
  share/locale/uk.json
Owners: @emmapeel2

Translated using Weblate (Ukrainian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/uk/
  share/locale/uk.json
Owners: @emmapeel2

update archlinux onionshare URL
  BUILD.md
Owners: @micahflee

update archlinux onionshare URL
  BUILD.md
Owners: @micahflee

Translated using Weblate (Finnish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/fi/
  share/locale/fi.json
Owners: @emmapeel2

Translated using Weblate (Finnish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/fi/
  share/locale/fi.json
Owners: @emmapeel2

Translated using Weblate (Portuguese (Portugal)) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/pt_PT/
  share/locale/pt_PT.json
Owners: @emmapeel2

Translated using Weblate (Portuguese (Portugal)) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/pt_PT/
  share/locale/pt_PT.json
Owners: @emmapeel2

#1116 Add a Clear All button in the File List area for share modes
  onionshare_gui/gui_common.py
  onionshare_gui/tab/mode/share_mode/__init__.py
  onionshare_gui/tab/mode/website_mode/__init__.py
  share/locale/en.json
  tests/test_gui_share.py
Owners: @micahflee, @emmapeel2, @mig5

#1116 Add a Clear All button in the File List area for share modes
  onionshare_gui/gui_common.py
  onionshare_gui/tab/mode/share_mode/__init__.py
  onionshare_gui/tab/mode/website_mode/__init__.py
  share/locale/en.json
  tests/test_gui_share.py
Owners: @micahflee, @emmapeel2, @mig5

Change code doc from 'Delete All' to 'Clear All' and remove whitespace in test
  onionshare_gui/tab/mode/share_mode/__init__.py
  onionshare_gui/tab/mode/website_mode/__init__.py
  tests/test_gui_share.py
Owners: @micahflee, @mig5

Change code doc from 'Delete All' to 'Clear All' and remove whitespace in test
  onionshare_gui/tab/mode/share_mode/__init__.py
  onionshare_gui/tab/mode/website_mode/__init__.py
  tests/test_gui_share.py
Owners: @micahflee, @mig5

Hide the Clear All button on server start, show it again when stopped
  onionshare_gui/tab/mode/share_mode/__init__.py
  onionshare_gui/tab/mode/website_mode/__init__.py
Owners: @micahflee

Hide the Clear All button on server start, show it again when stopped
  onionshare_gui/tab/mode/share_mode/__init__.py
  onionshare_gui/tab/mode/website_mode/__init__.py
Owners: @micahflee

#1095 Fix crash for shares larger than 2GB. #1089 add ETA/bytes uploaded in progress bar of ReceiveMode items
  onionshare_gui/tab/mode/history.py
Owners: @micahflee

#1095 Fix crash for shares larger than 2GB. #1089 add ETA/bytes uploaded in progress bar of ReceiveMode items
  onionshare_gui/tab/mode/history.py
Owners: @micahflee

#1123 Load the ajax.gif in receive.js via relative directory, now that static path is not... static
  share/static/js/receive.js
Owners: @micahflee

#1123 Load the ajax.gif in receive.js via relative directory, now that static path is not... static
  share/static/js/receive.js
Owners: @micahflee

#1121 upgrade to jQuery 3.5.1
  share/static/js/jquery-3.4.0.min.js
  share/static/js/jquery-3.5.1.min.js
  share/templates/receive.html
Owners: @micahflee

#1121 upgrade to jQuery 3.5.1
  share/static/js/jquery-3.4.0.min.js
  share/static/js/jquery-3.5.1.min.js
  share/templates/receive.html
Owners: @micahflee

.github/CODEOWNERS:

* @micahflee

# localization
/share/locale/ @emmapeel2

# tests
/tests/ @mig5
/tests_gui_local/ @mig5
/tests_gui_tor/ @mig5
