Repository onionshare/onionshare, changes with the owners that .github/CODEOWNERS names for each.
All owners: @micahflee, @emmapeel2, @mig5

.github/CODEOWNERS:

* @micahflee

# localization
/share/locale/ @emmapeel2

# tests
/tests/ @mig5
/tests_gui_local/ @mig5
/tests_gui_tor/ @mig5

Adds check whether username already exists
  onionshare/web/chat_mode.py
  share/static/css/style.css
  share/static/js/chat.js
  share/templates/chat.html
Owners: @micahflee

Only import pwd in macOS, because it does not exist in Windows
  onionshare/mode_settings.py
Owners: @micahflee

Only import pwd in macOS, because it does not exist in Windows
  onionshare/mode_settings.py
Owners: @micahflee

Update windows build instructions
  BUILD.md
Owners: @micahflee

Update windows build instructions
  BUILD.md
Owners: @micahflee

Change how TestLog works to also work in Windows
  tests/test_cli_common.py
Owners: @mig5

Change how TestLog works to also work in Windows
  tests/test_cli_common.py
Owners: @mig5

Fix settings tests for Windows
  tests/test_cli_settings.py
Owners: @mig5

Fix settings tests for Windows
  tests/test_cli_settings.py
Owners: @mig5

Close test temporary file before returning, to avoid permission denied error in windows
  tests/conftest.py
Owners: @mig5

Close test temporary file before returning, to avoid permission denied error in windows
  tests/conftest.py
Owners: @mig5

Fix more tempfile already open problems in Windows tests
  tests/test_gui_share.py
Owners: @mig5

Fix more tempfile already open problems in Windows tests
  tests/test_gui_share.py
Owners: @mig5

Windows batch script for running tests
  tests/run.bat
Owners: @mig5

Windows batch script for running tests
  tests/run.bat
Owners: @mig5

In web tests, allow mime-type to be either application/zip or application/x-zip-compressed
  tests/test_cli_web.py
Owners: @mig5

In web tests, allow mime-type to be either application/zip or application/x-zip-compressed
  tests/test_cli_web.py
Owners: @mig5

When stopping an onion, dont even try if --local-only
  onionshare/onion.py
Owners: @micahflee

When stopping an onion, dont even try if --local-only
  onionshare/onion.py
Owners: @micahflee

Wait longer, and Windows tests work
  tests/test_gui_share.py
Owners: @mig5

Wait longer, and Windows tests work
  tests/test_gui_share.py
Owners: @mig5

Fix one more tempfile Windows test bug
  tests/test_gui_share.py
Owners: @mig5

Fix one more tempfile Windows test bug
  tests/test_gui_share.py
Owners: @mig5

Skip receive mode file permission tests in Windows
  tests/test_gui_receive.py
Owners: @mig5

Skip receive mode file permission tests in Windows
  tests/test_gui_receive.py
Owners: @mig5

Updated build instructions for running tests
  BUILD.md
Owners: @micahflee

Updated build instructions for running tests
  BUILD.md
Owners: @micahflee

Use Qt 5.14.0 in macOS
  BUILD.md
Owners: @micahflee

Use Qt 5.14.0 in macOS
  BUILD.md
Owners: @micahflee

Translated using Weblate (Chinese (Traditional)) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/zh_Hant/
  share/locale/zh_Hant.json
Owners: @emmapeel2

Translated using Weblate (Portuguese (Portugal)) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/pt_PT/
  share/locale/pt_PT.json
Owners: @emmapeel2

Translated using Weblate (Chinese (Traditional)) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/zh_Hant/
  share/locale/zh_Hant.json
Owners: @emmapeel2

Translated using Weblate (Portuguese (Portugal)) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/pt_PT/
  share/locale/pt_PT.json
Owners: @emmapeel2

Start adding documentation into the source tree
  .gitignore
  BUILD.md
  docs/Makefile
  docs/make.bat
  docs/source/_static/logo.svg
  docs/source/advanced.rst
  docs/source/conf.py
  docs/source/develop.rst
  docs/source/how_it_works.rst
  docs/source/index.rst
  docs/source/install.rst
  docs/source/security.rst
Owners: @micahflee

Start adding documentation into the source tree
  .gitignore
  BUILD.md
  docs/Makefile
  docs/make.bat
  docs/source/_static/logo.svg
  docs/source/advanced.rst
  docs/source/conf.py
  docs/source/develop.rst
  docs/source/how_it_works.rst
  docs/source/index.rst
  docs/source/install.rst
  docs/source/security.rst
Owners: @micahflee

Switch to sphinx-rtd-theme and use sphinx-intl
  BUILD.md
  docs/README.md
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
Owners: @micahflee

Switch to sphinx-rtd-theme and use sphinx-intl
  BUILD.md
  docs/README.md
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
Owners: @micahflee

Add some OnionShare styling to the theme and write some more docs
  docs/source/_static/custom.css
  docs/source/conf.py
  docs/source/features.rst
  docs/source/how_it_works.rst
  docs/source/index.rst
  docs/source/install.rst
Owners: @micahflee

Add some OnionShare styling to the theme and write some more docs
  docs/source/_static/custom.css
  docs/source/conf.py
  docs/source/features.rst
  docs/source/how_it_works.rst
  docs/source/index.rst
  docs/source/install.rst
Owners: @micahflee

Add onionshare_gui.tab.chat_mode module to setup.py
  setup.py
Owners: @micahflee
