Repository onionshare/onionshare, changes with the owners that .github/CODEOWNERS names for each.
All owners: @micahflee, @emmapeel2, @mig5

#1115 Add QR Code for onion URL
  onionshare_gui/tab/server_status.py
  onionshare_gui/widgets.py
  poetry.lock
  pyproject.toml
  share/locale/en.json
  tests/gui_base_test.py
  tests/test_gui_receive.py
  tests/test_gui_share.py
  tests/test_gui_website.py
Owners: @micahflee, @emmapeel2, @mig5

#1115 Add QR Code for onion URL
  onionshare_gui/tab/server_status.py
  onionshare_gui/widgets.py
  poetry.lock
  pyproject.toml
  share/locale/en.json
  tests/gui_base_test.py
  tests/test_gui_receive.py
  tests/test_gui_share.py
  tests/test_gui_website.py
Owners: @micahflee, @emmapeel2, @mig5

Remove unnecessary import of Image class in ServerStatus
  onionshare_gui/tab/server_status.py
Owners: @micahflee

Remove unnecessary import of Image class in ServerStatus
  onionshare_gui/tab/server_status.py
Owners: @micahflee

Update the QR code description text
  share/locale/en.json
Owners: @emmapeel2

Update the QR code description text
  share/locale/en.json
Owners: @emmapeel2

Add code documentation
  onionshare_gui/widgets.py
Owners: @micahflee

Add code documentation
  onionshare_gui/widgets.py
Owners: @micahflee

Fail early if any of the tests fail, rather than continue and possibly exit 0
  tests/run.sh
Owners: @mig5

Fail early if any of the tests fail, rather than continue and possibly exit 0
  tests/run.sh
Owners: @mig5

Translated using Weblate (Ukrainian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/uk/
  share/locale/uk.json
Owners: @emmapeel2

Translated using Weblate (Ukrainian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/uk/
  share/locale/uk.json
Owners: @emmapeel2

Translated using Weblate (Norwegian Bokmål) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/nb_NO/
  share/locale/nb.json
Owners: @emmapeel2

Translated using Weblate (Norwegian Bokmål) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/nb_NO/
  share/locale/nb.json
Owners: @emmapeel2

Update BUILD.md
  BUILD.md
Owners: @micahflee

#1126 update the status bar each time the active tab is changed
  onionshare_gui/tab_widget.py
  tests/test_gui_tabs.py
Owners: @micahflee, @mig5

#1126 update the status bar each time the active tab is changed
  onionshare_gui/tab_widget.py
  tests/test_gui_tabs.py
Owners: @micahflee, @mig5

Set the server status indicator to 'Scheduled' when in Website Mode and autostart timer is in use, to match the other modes
  onionshare_gui/tab/tab.py
Owners: @micahflee

Set the server status indicator to 'Scheduled' when in Website Mode and autostart timer is in use, to match the other modes
  onionshare_gui/tab/tab.py
Owners: @micahflee

Show in UX that there's a disconnect
  share/static/js/chat.js
Owners: @micahflee

Show in UX that there's a disconnect
  share/static/js/chat.js
Owners: @micahflee

Use 'Delete' rather than 'Clear' when talking about removing file items from the FileList, since we have a Delete button for individual files
  onionshare_gui/gui_common.py
  onionshare_gui/tab/mode/share_mode/__init__.py
  onionshare_gui/tab/mode/website_mode/__init__.py
  share/locale/en.json
  tests/test_gui_share.py
Owners: @micahflee, @emmapeel2, @mig5

Use 'Delete' rather than 'Clear' when talking about removing file items from the FileList, since we have a Delete button for individual files
  onionshare_gui/gui_common.py
  onionshare_gui/tab/mode/share_mode/__init__.py
  onionshare_gui/tab/mode/website_mode/__init__.py
  share/locale/en.json
  tests/test_gui_share.py
Owners: @micahflee, @emmapeel2, @mig5

Use a more efficient way of parsing the path to /img on the static URL in order to load ajax.gif via receive.js
  share/static/js/receive.js
  share/templates/receive.html
Owners: @micahflee

Use a more efficient way of parsing the path to /img on the static URL in order to load ajax.gif via receive.js
  share/static/js/receive.js
  share/templates/receive.html
Owners: @micahflee

#1123 Load the ajax.gif in receive.js via relative directory, now that static path is not... static
  share/static/js/receive.js
Owners: @micahflee

#1123 Load the ajax.gif in receive.js via relative directory, now that static path is not... static
  share/static/js/receive.js
Owners: @micahflee

Use a more efficient way of parsing the path to /img on the static URL in order to load ajax.gif via receive.js
  share/static/js/receive.js
  share/templates/receive.html
Owners: @micahflee

Use a more efficient way of parsing the path to /img on the static URL in order to load ajax.gif via receive.js
  share/static/js/receive.js
  share/templates/receive.html
Owners: @micahflee

Translated using Weblate (Portuguese (Brazil)) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/pt_BR/
  share/locale/pt_BR.json
Owners: @emmapeel2

Translated using Weblate (Portuguese (Brazil)) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/pt_BR/
  share/locale/pt_BR.json
Owners: @emmapeel2

Translated using Weblate (Finnish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/fi/
  share/locale/fi.json
Owners: @emmapeel2

Translated using Weblate (Norwegian Bokmål) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/nb_NO/
  share/locale/nb.json
Owners: @emmapeel2

Translated using Weblate (Icelandic) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/is/
  share/locale/is.json
Owners: @emmapeel2

Translated using Weblate (Finnish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/fi/
  share/locale/fi.json
Owners: @emmapeel2

Translated using Weblate (Icelandic) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/is/
  share/locale/is.json
Owners: @emmapeel2

Translated using Weblate (Norwegian Bokmål) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/nb_NO/
  share/locale/nb.json
Owners: @emmapeel2

Fix tests
  onionshare_gui/tab/mode/file_selection.py
  onionshare_gui/tab/mode/share_mode/__init__.py
  onionshare_gui/tab/mode/website_mode/__init__.py
  share/locale/en.json
  tests/gui_base_test.py
  tests/test_gui_share.py
  tests/test_gui_website.py
Owners: @micahflee, @emmapeel2, @mig5

Fix tests
  onionshare_gui/tab/mode/file_selection.py
  onionshare_gui/tab/mode/share_mode/__init__.py
  onionshare_gui/tab/mode/website_mode/__init__.py
  share/locale/en.json
  tests/gui_base_test.py
  tests/test_gui_share.py
  tests/test_gui_website.py
Owners: @micahflee, @emmapeel2, @mig5

Remove forced height on copy URL button
  onionshare_gui/tab/server_status.py
Owners: @micahflee

.github/CODEOWNERS:

* @micahflee

# localization
/share/locale/ @emmapeel2

# tests
/tests/ @mig5
/tests_gui_local/ @mig5
/tests_gui_tor/ @mig5
