Repository onionshare/onionshare, changes with the owners that .github/CODEOWNERS names for each.
All owners: @micahflee, @emmapeel2, @mig5

.github/CODEOWNERS:

* @micahflee

# localization
/share/locale/ @emmapeel2

# tests
/tests/ @mig5
/tests_gui_local/ @mig5
/tests_gui_tor/ @mig5

Remove forced height on copy URL button
  onionshare_gui/tab/server_status.py
Owners: @micahflee

Set the maximum for the individual file history item to MB to avoid > 2GB crash
  onionshare_gui/tab/mode/history.py
Owners: @micahflee

Set the maximum for the individual file history item to MB to avoid > 2GB crash
  onionshare_gui/tab/mode/history.py
Owners: @micahflee

Install setuptools for everything, not just windows
  poetry.lock
  pyproject.toml
Owners: @micahflee

Install setuptools for everything, not just windows
  poetry.lock
  pyproject.toml
Owners: @micahflee

When setting the data_dir in the GUI, set it to the new directory that was just selected, not the one that was already there
  onionshare_gui/tab/mode/receive_mode/__init__.py
Owners: @micahflee

When setting the data_dir in the GUI, set it to the new directory that was just selected, not the one that was already there
  onionshare_gui/tab/mode/receive_mode/__init__.py
Owners: @micahflee

Add flatpak detection
  onionshare_gui/gui_common.py
Owners: @micahflee

Add flatpak detection
  onionshare_gui/gui_common.py
Owners: @micahflee

Force saving files inside ~/OnionShare if running in flatpak
  onionshare_gui/tab/mode/receive_mode/__init__.py
  share/locale/en.json
Owners: @micahflee, @emmapeel2

Force saving files inside ~/OnionShare if running in flatpak
  onionshare_gui/tab/mode/receive_mode/__init__.py
  share/locale/en.json
Owners: @micahflee, @emmapeel2

Missing import
  onionshare_gui/tab/mode/receive_mode/__init__.py
Owners: @micahflee

Missing import
  onionshare_gui/tab/mode/receive_mode/__init__.py
Owners: @micahflee

When giving flatpak warning, break before setting the selected dir
  onionshare_gui/tab/mode/receive_mode/__init__.py
Owners: @micahflee

When giving flatpak warning, break before setting the selected dir
  onionshare_gui/tab/mode/receive_mode/__init__.py
Owners: @micahflee

Simplify flatpak detection
  onionshare_gui/gui_common.py
Owners: @micahflee

Simplify flatpak detection
  onionshare_gui/gui_common.py
Owners: @micahflee

Add snap readme
  snap/README.md
Owners: @micahflee

Add snap readme
  snap/README.md
Owners: @micahflee

Oops, should be return instead of break
  onionshare_gui/tab/mode/receive_mode/__init__.py
Owners: @micahflee

Oops, should be return instead of break
  onionshare_gui/tab/mode/receive_mode/__init__.py
Owners: @micahflee

Update snapcraft readme
  snap/README.md
Owners: @micahflee

Update snapcraft readme
  snap/README.md
Owners: @micahflee

Remove watchdog and psutil deps
  poetry.lock
  pyproject.toml
Owners: @micahflee

Remove watchdog and psutil deps
  poetry.lock
  pyproject.toml
Owners: @micahflee

Updates jQuery and poetry dependencies in Chat
  poetry.lock
  share/templates/chat.html
Owners: @micahflee

Updates jQuery and poetry dependencies in Chat
  poetry.lock
  share/templates/chat.html
Owners: @micahflee

Adds noscript HTML
  onionshare/web/chat_mode.py
  share/static/css/style.css
  share/static/js/chat.js
  share/templates/chat.html
Owners: @micahflee

Adds noscript HTML
  onionshare/web/chat_mode.py
  share/static/css/style.css
  share/static/js/chat.js
  share/templates/chat.html
Owners: @micahflee

Translated using Weblate (Bengali) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/bn/
  share/locale/bn.json
Owners: @emmapeel2

Translated using Weblate (Bengali) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/bn/
  share/locale/bn.json
Owners: @emmapeel2

Adds responsiveness in receive and share modes webapps
  share/static/css/style.css
  share/templates/send.html
Owners: @micahflee

Adds responsiveness in receive and share modes webapps
  share/static/css/style.css
  share/templates/send.html
Owners: @micahflee

Start making snap package pull from source tree instead of git
  .gitignore
  BUILD.md
  install/qt-installer-script.js
  snap/README.md
  snap/snapcraft.yaml
Owners: @micahflee

Start making snap package pull from source tree instead of git
  .gitignore
  BUILD.md
  install/qt-installer-script.js
  snap/README.md
  snap/snapcraft.yaml
Owners: @micahflee

Switch icon to 512x512 png
  install/org.onionshare.OnionShare.png
  setup.py
Owners: @micahflee

Switch icon to 512x512 png
  install/org.onionshare.OnionShare.png
  setup.py
Owners: @micahflee

Adds viewport and charset meta tags
  share/templates/401.html
  share/templates/403.html
  share/templates/404.html
  share/templates/405.html
  share/templates/denied.html
  share/templates/listing.html
  share/templates/receive.html
  share/templates/send.html
  share/templates/thankyou.html
Owners: @micahflee

Adds viewport and charset meta tags
  share/templates/401.html
  share/templates/403.html
  share/templates/404.html
  share/templates/405.html
  share/templates/denied.html
  share/templates/listing.html
  share/templates/receive.html
  share/templates/send.html
  share/templates/thankyou.html
Owners: @micahflee

Hide QR code button when server stops. Capitalise Code
  onionshare_gui/tab/server_status.py
  share/locale/en.json
Owners: @micahflee, @emmapeel2
