Repository onionshare/onionshare, changes with the owners that .github/CODEOWNERS names for each.
All owners: @micahflee, @emmapeel2, @mig5

.github/CODEOWNERS:

* @micahflee

# localization
/share/locale/ @emmapeel2

# tests
/tests/ @mig5
/tests_gui_local/ @mig5
/tests_gui_tor/ @mig5

Test python 3.6 as well
  .circleci/config.yml
Owners: @micahflee

Test python 3.6 as well
  .circleci/config.yml
Owners: @micahflee

Update build instructions to include Linux instructions using the newest software, instead of just software from package repositories
  BUILD.md
Owners: @micahflee

Update build instructions to include Linux instructions using the newest software, instead of just software from package repositories
  BUILD.md
Owners: @micahflee

Clean up watchdog thread when quitting, which avoids segfaults
  onionshare_gui/main_window.py
  onionshare_gui/tab_widget.py
Owners: @micahflee

Clean up watchdog thread when quitting, which avoids segfaults
  onionshare_gui/main_window.py
  onionshare_gui/tab_widget.py
Owners: @micahflee

Update build instructions for how to run tests with poetry
  BUILD.md
Owners: @micahflee

Update build instructions for how to run tests with poetry
  BUILD.md
Owners: @micahflee

Enable stacktraces of segfaults when running tests
  tests/conftest.py
Owners: @mig5

Enable stacktraces of segfaults when running tests
  tests/conftest.py
Owners: @mig5

Adds bash script to run GUI tests individually
  .circleci/config.yml
  BUILD.md
  tests/gui_base_test.py
  tests/run.sh
Owners: @micahflee, @mig5

Adds bash script to run GUI tests individually
  .circleci/config.yml
  BUILD.md
  tests/gui_base_test.py
  tests/run.sh
Owners: @micahflee, @mig5

Revert "Enable stacktraces of segfaults when running tests"
  tests/conftest.py
Owners: @mig5

Revert "Enable stacktraces of segfaults when running tests"
  tests/conftest.py
Owners: @mig5

Update poetry dependencies
  poetry.lock
Owners: @micahflee

Update poetry dependencies
  poetry.lock
Owners: @micahflee

Make .desktop file not use absolute path for Exec
  install/org.onionshare.OnionShare.desktop
Owners: @micahflee

Make .desktop file not use absolute path for Exec
  install/org.onionshare.OnionShare.desktop
Owners: @micahflee

Remove watchdog, replace with a simple background thread
  onionshare_gui/event_handler.py
  onionshare_gui/tab_widget.py
  onionshare_gui/threads.py
  poetry.lock
  pyproject.toml
Owners: @micahflee

Remove watchdog, replace with a simple background thread
  onionshare_gui/event_handler.py
  onionshare_gui/tab_widget.py
  onionshare_gui/threads.py
  poetry.lock
  pyproject.toml
Owners: @micahflee

Typos in EventHandlerThread
  onionshare_gui/threads.py
Owners: @micahflee

Typos in EventHandlerThread
  onionshare_gui/threads.py
Owners: @micahflee

Fix linux tor paths, make event handler properly quit thread
  onionshare/common.py
  onionshare_gui/settings_dialog.py
  onionshare_gui/tab_widget.py
  onionshare_gui/threads.py
  onionshare_gui/tor_connection_dialog.py
Owners: @micahflee

Fix linux tor paths, make event handler properly quit thread
  onionshare/common.py
  onionshare_gui/settings_dialog.py
  onionshare_gui/tab_widget.py
  onionshare_gui/threads.py
  onionshare_gui/tor_connection_dialog.py
Owners: @micahflee

In dev mode, when checking for existing onionshare, check for processes that start with python3 as well as python
  onionshare_gui/__init__.py
Owners: @micahflee

In dev mode, when checking for existing onionshare, check for processes that start with python3 as well as python
  onionshare_gui/__init__.py
Owners: @micahflee

Remove psutil dependency, and start using a lock file instead
  onionshare_gui/__init__.py
  onionshare_gui/gui_common.py
  poetry.lock
  pyproject.toml
Owners: @micahflee

Remove psutil dependency, and start using a lock file instead
  onionshare_gui/__init__.py
  onionshare_gui/gui_common.py
  poetry.lock
  pyproject.toml
Owners: @micahflee

Delete the lock file on Ctrl-C
  onionshare_gui/__init__.py
Owners: @micahflee

Delete the lock file on Ctrl-C
  onionshare_gui/__init__.py
Owners: @micahflee

Open files in linux with xdg-open instead of nautilus
  onionshare_gui/tab/mode/history.py
  share/locale/en.json
Owners: @micahflee, @emmapeel2

Open files in linux with xdg-open instead of nautilus
  onionshare_gui/tab/mode/history.py
  share/locale/en.json
Owners: @micahflee, @emmapeel2

Fix common.get_tor_paths test
  .circleci/config.yml
  BUILD.md
  tests/test_cli_common.py
Owners: @micahflee, @mig5

Fix common.get_tor_paths test
  .circleci/config.yml
  BUILD.md
  tests/test_cli_common.py
Owners: @micahflee, @mig5

Translated using Weblate (Croatian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/hr/
  share/locale/af.json
  share/locale/ar.json
  share/locale/bn.json
  share/locale/de.json
  share/locale/el.json
  share/locale/fi.json
  share/locale/gu.json
  share/locale/he.json
  share/locale/hi.json
  share/locale/hr.json
  share/locale/hu.json
  share/locale/it.json
  share/locale/pt_PT.json
  share/locale/ru.json
  share/locale/sv.json
Owners: @emmapeel2

Translated using Weblate (Croatian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/hr/
  share/locale/af.json
  share/locale/ar.json
  share/locale/bn.json
  share/locale/de.json
  share/locale/el.json
  share/locale/fi.json
  share/locale/gu.json
  share/locale/he.json
  share/locale/hi.json
  share/locale/hr.json
  share/locale/hu.json
  share/locale/it.json
  share/locale/pt_PT.json
  share/locale/ru.json
  share/locale/sv.json
Owners: @emmapeel2

Translated using Weblate (Spanish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/es/
  share/locale/es.json
Owners: @emmapeel2

Translated using Weblate (Spanish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/es/
  share/locale/es.json
Owners: @emmapeel2

Translated using Weblate (French) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/fr/
  share/locale/ca.json
  share/locale/es.json
  share/locale/fr.json
Owners: @emmapeel2

Translated using Weblate (French) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/fr/
  share/locale/ca.json
  share/locale/es.json
  share/locale/fr.json
Owners: @emmapeel2
