Repository onionshare/onionshare, changes with the owners that .github/CODEOWNERS names for each.
All owners: @micahflee, @emmapeel2, @mig5

.github/CODEOWNERS:

* @micahflee

# localization
/share/locale/ @emmapeel2

# tests
/tests/ @mig5
/tests_gui_local/ @mig5
/tests_gui_tor/ @mig5

Fix typo in advanced docs
  docs/source/advanced.rst
Owners: @micahflee

Fix typo in advanced docs
  docs/source/advanced.rst
Owners: @micahflee

Re-build translations
  docs/gettext/.doctrees/advanced.doctree
  docs/gettext/.doctrees/develop.doctree
  docs/gettext/.doctrees/environment.pickle
  docs/gettext/.doctrees/tor.doctree
  docs/gettext/advanced.pot
  docs/source/locale/ar/LC_MESSAGES/advanced.po
  docs/source/locale/ca/LC_MESSAGES/advanced.po
  docs/source/locale/da/LC_MESSAGES/advanced.po
  docs/source/locale/de/LC_MESSAGES/advanced.po
  docs/source/locale/el/LC_MESSAGES/advanced.po
  docs/source/locale/en/LC_MESSAGES/advanced.po
  docs/source/locale/es/LC_MESSAGES/advanced.po
  docs/source/locale/fa/LC_MESSAGES/advanced.po
  docs/source/locale/fr/LC_MESSAGES/advanced.po
  docs/source/locale/ga/LC_MESSAGES/advanced.po
  docs/source/locale/is/LC_MESSAGES/advanced.po
  docs/source/locale/it/LC_MESSAGES/advanced.po
  docs/source/locale/ja/LC_MESSAGES/advanced.po
  docs/source/locale/nb_NO/LC_MESSAGES/advanced.po
  docs/source/locale/nb_NO/LC_MESSAGES/develop.po
  docs/source/locale/nb_NO/LC_MESSAGES/tor.po
  docs/source/locale/nl/LC_MESSAGES/advanced.po
  docs/source/locale/pl/LC_MESSAGES/advanced.po
  docs/source/locale/pt_BR/LC_MESSAGES/advanced.po
  docs/source/locale/pt_PT/LC_MESSAGES/advanced.po
  docs/source/locale/ro/LC_MESSAGES/advanced.po
  docs/source/locale/ru/LC_MESSAGES/advanced.po
  docs/source/locale/sr@latin/LC_MESSAGES/advanced.po
  docs/source/locale/sv/LC_MESSAGES/advanced.po
  docs/source/locale/te/LC_MESSAGES/advanced.po
  docs/source/locale/tr/LC_MESSAGES/advanced.po
  docs/source/locale/uk/LC_MESSAGES/advanced.po
  docs/source/locale/zh_CN/LC_MESSAGES/advanced.po
  docs/source/locale/zh_TW/LC_MESSAGES/advanced.po
Owners: @micahflee

Re-build translations
  docs/gettext/.doctrees/advanced.doctree
  docs/gettext/.doctrees/develop.doctree
  docs/gettext/.doctrees/environment.pickle
  docs/gettext/.doctrees/tor.doctree
  docs/gettext/advanced.pot
  docs/source/locale/ar/LC_MESSAGES/advanced.po
  docs/source/locale/ca/LC_MESSAGES/advanced.po
  docs/source/locale/da/LC_MESSAGES/advanced.po
  docs/source/locale/de/LC_MESSAGES/advanced.po
  docs/source/locale/el/LC_MESSAGES/advanced.po
  docs/source/locale/en/LC_MESSAGES/advanced.po
  docs/source/locale/es/LC_MESSAGES/advanced.po
  docs/source/locale/fa/LC_MESSAGES/advanced.po
  docs/source/locale/fr/LC_MESSAGES/advanced.po
  docs/source/locale/ga/LC_MESSAGES/advanced.po
  docs/source/locale/is/LC_MESSAGES/advanced.po
  docs/source/locale/it/LC_MESSAGES/advanced.po
  docs/source/locale/ja/LC_MESSAGES/advanced.po
  docs/source/locale/nb_NO/LC_MESSAGES/advanced.po
  docs/source/locale/nb_NO/LC_MESSAGES/develop.po
  docs/source/locale/nb_NO/LC_MESSAGES/tor.po
  docs/source/locale/nl/LC_MESSAGES/advanced.po
  docs/source/locale/pl/LC_MESSAGES/advanced.po
  docs/source/locale/pt_BR/LC_MESSAGES/advanced.po
  docs/source/locale/pt_PT/LC_MESSAGES/advanced.po
  docs/source/locale/ro/LC_MESSAGES/advanced.po
  docs/source/locale/ru/LC_MESSAGES/advanced.po
  docs/source/locale/sr@latin/LC_MESSAGES/advanced.po
  docs/source/locale/sv/LC_MESSAGES/advanced.po
  docs/source/locale/te/LC_MESSAGES/advanced.po
  docs/source/locale/tr/LC_MESSAGES/advanced.po
  docs/source/locale/uk/LC_MESSAGES/advanced.po
  docs/source/locale/zh_CN/LC_MESSAGES/advanced.po
  docs/source/locale/zh_TW/LC_MESSAGES/advanced.po
Owners: @micahflee

Rename Norwegian Bokmål from nb to nb_NO
  onionshare/settings.py
Owners: @micahflee

Rename Norwegian Bokmål from nb to nb_NO
  onionshare/settings.py
Owners: @micahflee

Translated using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/advanced.po
Owners: @micahflee

Translated using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/advanced.po
Owners: @micahflee

Migrate docs dependencies from requirements.txt to poetry
  docs/README.md
  docs/gettext/.doctrees/advanced.doctree
  docs/gettext/.doctrees/environment.pickle
  docs/poetry.lock
  docs/pyproject.toml
  docs/requirements.txt
Owners: @micahflee

Migrate docs dependencies from requirements.txt to poetry
  docs/README.md
  docs/gettext/.doctrees/advanced.doctree
  docs/gettext/.doctrees/environment.pickle
  docs/poetry.lock
  docs/pyproject.toml
  docs/requirements.txt
Owners: @micahflee

Version bump to 2.3.dev1
  install/onionshare.nsi
  install/org.onionshare.OnionShare.appdata.xml
  share/version.txt
Owners: @micahflee

Version bump to 2.3.dev1
  install/onionshare.nsi
  install/org.onionshare.OnionShare.appdata.xml
  share/version.txt
Owners: @micahflee

Translated using Weblate (Spanish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/es/
  share/locale/es.json
Owners: @emmapeel2

Translated using Weblate (Spanish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/es/
  share/locale/es.json
Owners: @emmapeel2

Update macOS build script to enable runtime, build DMG instead of PKG; update Tor; update build instructions
  BUILD.md
  install/build_osx.sh
  install/get-tor-osx.py
  install/get-tor-windows.py
Owners: @micahflee

Update macOS build script to enable runtime, build DMG instead of PKG; update Tor; update build instructions
  BUILD.md
  install/build_osx.sh
  install/get-tor-osx.py
  install/get-tor-windows.py
Owners: @micahflee

Add back some strings, and force pyinstaller to include an import required for chat
  install/pyinstaller.spec
  share/locale/en.json
Owners: @micahflee, @emmapeel2

Add back some strings, and force pyinstaller to include an import required for chat
  install/pyinstaller.spec
  share/locale/en.json
Owners: @micahflee, @emmapeel2

Enable com.apple.security.cs.allow-unsigned-executable-memory in the macOS sandbox because this is required for PyInstaller and Catalina
  install/macos_sandbox/parent.plist
Owners: @micahflee

Enable com.apple.security.cs.allow-unsigned-executable-memory in the macOS sandbox because this is required for PyInstaller and Catalina
  install/macos_sandbox/parent.plist
Owners: @micahflee

Tor documentation reworked
  docs/source/tor.rst
Owners: @micahflee

Tor documentation reworked
  docs/source/tor.rst
Owners: @micahflee

Spelling: Rename the extracted folder
  docs/source/tor.rst
Owners: @micahflee

Spelling: Rename the extracted folder
  docs/source/tor.rst
Owners: @micahflee

Spelling: -here
  docs/source/tor.rst
Owners: @micahflee

Spelling: -here
  docs/source/tor.rst
Owners: @micahflee

macOS section unremoved, -password
  docs/source/tor.rst
Owners: @micahflee

macOS section unremoved, -password
  docs/source/tor.rst
Owners: @micahflee

Spelling: "Test Connection to Tor"
  docs/source/tor.rst
Owners: @micahflee

Spelling: "Test Connection to Tor"
  docs/source/tor.rst
Owners: @micahflee

Spelling: Picked
  docs/source/tor.rst
Owners: @micahflee

Spelling: Picked
  docs/source/tor.rst
Owners: @micahflee

Spelling: Icon in it
  docs/source/tor.rst
Owners: @micahflee

Spelling: Icon in it
  docs/source/tor.rst
Owners: @micahflee

Spelling: "Test Connection to Tor"
  docs/source/tor.rst
Owners: @micahflee

Spelling: "Test Connection to Tor"
  docs/source/tor.rst
Owners: @micahflee

Spelling: "Tor authentication settings"
  docs/source/tor.rst
Owners: @micahflee

Spelling: "Tor authentication settings"
  docs/source/tor.rst
Owners: @micahflee

Spelling: "Tor authentication settings"
  docs/source/tor.rst
Owners: @micahflee

Spelling: "Tor authentication settings"
  docs/source/tor.rst
Owners: @micahflee
