Repository onionshare/onionshare, changes with the owners that .github/CODEOWNERS names for each.
All owners: @micahflee, @emmapeel2, @mig5

Dockerfile: Disable caching of downloaded files when installing to make resulting image smaller.
  Dockerfile
Owners: @micahflee

Update web.py
  onionshare/web/web.py
Owners: @micahflee

Fix openSUSE misspelling
  BUILD.md
Owners: @micahflee

Fix openSUSE misspelling
  BUILD.md
Owners: @micahflee

Update README.md
  README.md
Owners: @micahflee

Change colors
  onionshare/__init__.py
Owners: @micahflee

Change colors
  onionshare/__init__.py
Owners: @micahflee

Create web UI and socket code for the chat interface
  onionshare/__init__.py
  onionshare/common.py
  onionshare/mode_settings.py
  onionshare/web/chat_mode.py
  onionshare/web/web.py
  share/static/js/chat.js
  share/static/js/socket.io.min.js
  share/templates/chat.html
Owners: @micahflee

Create web UI and socket code for the chat interface
  onionshare/__init__.py
  onionshare/common.py
  onionshare/mode_settings.py
  onionshare/web/chat_mode.py
  onionshare/web/web.py
  share/static/js/chat.js
  share/static/js/socket.io.min.js
  share/templates/chat.html
Owners: @micahflee

Create GUI for onionshare chat mode with the tab workflow
  onionshare/web/chat_mode.py
  onionshare_gui/gui_common.py
  onionshare_gui/tab/mode/chat_mode/__init__.py
  onionshare_gui/tab/server_status.py
  onionshare_gui/tab/tab.py
  share/locale/en.json
  share/static/css/style.css
  share/static/js/chat.js
Owners: @micahflee, @emmapeel2

Create GUI for onionshare chat mode with the tab workflow
  onionshare/web/chat_mode.py
  onionshare_gui/gui_common.py
  onionshare_gui/tab/mode/chat_mode/__init__.py
  onionshare_gui/tab/server_status.py
  onionshare_gui/tab/tab.py
  share/locale/en.json
  share/static/css/style.css
  share/static/js/chat.js
Owners: @micahflee, @emmapeel2

Update README.md
  README.md
Owners: @micahflee

Sanitize message before appending them to the HTML
  share/static/js/chat.js
Owners: @micahflee

Sanitize message before appending them to the HTML
  share/static/js/chat.js
Owners: @micahflee

Adds list of active users in the chat and allows username change
  onionshare/web/chat_mode.py
  share/static/css/style.css
  share/static/js/chat.js
  share/templates/chat.html
Owners: @micahflee

Adds list of active users in the chat and allows username change
  onionshare/web/chat_mode.py
  share/static/css/style.css
  share/static/js/chat.js
  share/templates/chat.html
Owners: @micahflee

Switches from pipenv and requirements.txt to poetry to manage dependencies
  BUILD.md
  install/requirements-tests.txt
  install/requirements.txt
  poetry.lock
  pyproject.toml
Owners: @micahflee

Switches from pipenv and requirements.txt to poetry to manage dependencies
  BUILD.md
  install/requirements-tests.txt
  install/requirements.txt
  poetry.lock
  pyproject.toml
Owners: @micahflee

Update dependencies
  BUILD.md
  poetry.lock
  pyproject.toml
Owners: @micahflee

Update dependencies
  BUILD.md
  poetry.lock
  pyproject.toml
Owners: @micahflee

No longer install packages from requirements.txt
  .circleci/config.yml
Owners: @micahflee

No longer install packages from requirements.txt
  .circleci/config.yml
Owners: @micahflee

Add python3-pytest and python3-pytestqt to circleci
  .circleci/config.yml
  BUILD.md
Owners: @micahflee

Add python3-pytest and python3-pytestqt to circleci
  .circleci/config.yml
  BUILD.md
Owners: @micahflee

Try using buster docker images
  .circleci/config.yml
Owners: @micahflee

Try using buster docker images
  .circleci/config.yml
Owners: @micahflee

Change python version to ^3.7, and use PyQt 5.14 instead of the very latest. Run tests from poetry
  .circleci/config.yml
  poetry.lock
  pyproject.toml
Owners: @micahflee

Change python version to ^3.7, and use PyQt 5.14 instead of the very latest. Run tests from poetry
  .circleci/config.yml
  poetry.lock
  pyproject.toml
Owners: @micahflee

Test with python 3.7 and 3.8, no longer 3.6
  .circleci/config.yml
Owners: @micahflee

Test with python 3.7 and 3.8, no longer 3.6
  .circleci/config.yml
Owners: @micahflee

Build Qt from source in circleci
  .circleci/config.yml
Owners: @micahflee

Build Qt from source in circleci
  .circleci/config.yml
Owners: @micahflee

Try installing binaries instead of building from source
  .circleci/config.yml
  .circleci/qt-installer-script.js
Owners: @micahflee

Try installing binaries instead of building from source
  .circleci/config.yml
  .circleci/qt-installer-script.js
Owners: @micahflee

Fix installing Qt binaries
  .circleci/config.yml
Owners: @micahflee

Fix installing Qt binaries
  .circleci/config.yml
Owners: @micahflee

Update comments and section names in CircleCI
  .circleci/config.yml
Owners: @micahflee

Update comments and section names in CircleCI
  .circleci/config.yml
Owners: @micahflee

Add a pytest.ini file to register custom markers, to avoid so many test warnings
  tests/pytest.ini
Owners: @mig5

Add a pytest.ini file to register custom markers, to avoid so many test warnings
  tests/pytest.ini
Owners: @mig5

.github/CODEOWNERS:

* @micahflee

# localization
/share/locale/ @emmapeel2

# tests
/tests/ @mig5
/tests_gui_local/ @mig5
/tests_gui_tor/ @mig5
