Repository onionshare/onionshare, changes with the owners that .github/CODEOWNERS names for each.
All owners: @micahflee, @emmapeel2, @mig5

.github/CODEOWNERS:

* @micahflee

# localization
/share/locale/ @emmapeel2

# tests
/tests/ @mig5
/tests_gui_local/ @mig5
/tests_gui_tor/ @mig5

Translated using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/index.po
  docs/source/locale/uk/LC_MESSAGES/sphinx.po
  share/locale/fr.json
  share/locale/nb.json
  share/locale/uk.json
Owners: @micahflee, @emmapeel2

Translated using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/index.po
  docs/source/locale/uk/LC_MESSAGES/sphinx.po
  share/locale/fr.json
  share/locale/nb.json
  share/locale/uk.json
Owners: @micahflee, @emmapeel2

fix typo. reported by translators zakooch and kingu. thanks!
  docs/source/develop.rst
Owners: @micahflee

fix typo. reported by translators zakooch and kingu. thanks!
  docs/source/develop.rst
Owners: @micahflee

Translated using Weblate (Spanish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/es/
  share/locale/es.json
Owners: @emmapeel2

Translated using Weblate (Spanish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/es/
  share/locale/es.json
Owners: @emmapeel2

Added translation using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/security.po
Owners: @micahflee

Added translation using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/security.po
Owners: @micahflee

Added translation using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/help.po
Owners: @micahflee

Added translation using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/help.po
Owners: @micahflee

Added translation using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/features.po
  docs/source/locale/uk/LC_MESSAGES/install.po
Owners: @micahflee

Added translation using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/features.po
  docs/source/locale/uk/LC_MESSAGES/install.po
Owners: @micahflee

Added translation using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/develop.po
Owners: @micahflee

Added translation using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/develop.po
Owners: @micahflee

Added translation using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/advanced.po
  docs/source/locale/uk/LC_MESSAGES/tor.po
Owners: @micahflee

Added translation using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/advanced.po
  docs/source/locale/uk/LC_MESSAGES/tor.po
Owners: @micahflee

Translated using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/advanced.po
  docs/source/locale/uk/LC_MESSAGES/develop.po
  docs/source/locale/uk/LC_MESSAGES/features.po
  docs/source/locale/uk/LC_MESSAGES/help.po
  docs/source/locale/uk/LC_MESSAGES/install.po
  docs/source/locale/uk/LC_MESSAGES/security.po
  docs/source/locale/uk/LC_MESSAGES/tor.po
  share/locale/es.json
  share/locale/uk.json
Owners: @micahflee, @emmapeel2

Translated using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/advanced.po
  docs/source/locale/uk/LC_MESSAGES/develop.po
  docs/source/locale/uk/LC_MESSAGES/features.po
  docs/source/locale/uk/LC_MESSAGES/help.po
  docs/source/locale/uk/LC_MESSAGES/install.po
  docs/source/locale/uk/LC_MESSAGES/security.po
  docs/source/locale/uk/LC_MESSAGES/tor.po
  share/locale/es.json
  share/locale/uk.json
Owners: @micahflee, @emmapeel2

Translated using Weblate (Icelandic) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/is/
  share/locale/is.json
Owners: @emmapeel2

Translated using Weblate (Icelandic) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/is/
  share/locale/is.json
Owners: @emmapeel2

removed because it is duplicated by nb_NO that already has translations
  docs/source/locale/nb/LC_MESSAGES/advanced.po
  docs/source/locale/nb/LC_MESSAGES/develop.po
  docs/source/locale/nb/LC_MESSAGES/features.po
  docs/source/locale/nb/LC_MESSAGES/help.po
  docs/source/locale/nb/LC_MESSAGES/index.po
  docs/source/locale/nb/LC_MESSAGES/install.po
  docs/source/locale/nb/LC_MESSAGES/security.po
  docs/source/locale/nb/LC_MESSAGES/sphinx.po
  docs/source/locale/nb/LC_MESSAGES/tor.po
Owners: @micahflee

removed because it is duplicated by nb_NO that already has translations
  docs/source/locale/nb/LC_MESSAGES/advanced.po
  docs/source/locale/nb/LC_MESSAGES/develop.po
  docs/source/locale/nb/LC_MESSAGES/features.po
  docs/source/locale/nb/LC_MESSAGES/help.po
  docs/source/locale/nb/LC_MESSAGES/index.po
  docs/source/locale/nb/LC_MESSAGES/install.po
  docs/source/locale/nb/LC_MESSAGES/security.po
  docs/source/locale/nb/LC_MESSAGES/sphinx.po
  docs/source/locale/nb/LC_MESSAGES/tor.po
Owners: @micahflee

Translated using Weblate (Ukrainian)
  docs/source/locale/es/LC_MESSAGES/develop.po
  docs/source/locale/es/LC_MESSAGES/tor.po
  docs/source/locale/uk/LC_MESSAGES/advanced.po
  docs/source/locale/uk/LC_MESSAGES/develop.po
  docs/source/locale/uk/LC_MESSAGES/features.po
  docs/source/locale/uk/LC_MESSAGES/help.po
  docs/source/locale/uk/LC_MESSAGES/install.po
  docs/source/locale/uk/LC_MESSAGES/security.po
  docs/source/locale/uk/LC_MESSAGES/tor.po
Owners: @micahflee

Translated using Weblate (Ukrainian)
  docs/source/locale/es/LC_MESSAGES/develop.po
  docs/source/locale/es/LC_MESSAGES/tor.po
  docs/source/locale/uk/LC_MESSAGES/advanced.po
  docs/source/locale/uk/LC_MESSAGES/develop.po
  docs/source/locale/uk/LC_MESSAGES/features.po
  docs/source/locale/uk/LC_MESSAGES/help.po
  docs/source/locale/uk/LC_MESSAGES/install.po
  docs/source/locale/uk/LC_MESSAGES/security.po
  docs/source/locale/uk/LC_MESSAGES/tor.po
Owners: @micahflee

correct Norwegian bokmål language code to the one used on the app
  docs/build.sh
Owners: @micahflee

correct Norwegian bokmål language code to the one used on the app
  docs/build.sh
Owners: @micahflee

Translated using Weblate (Norwegian Bokmål) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/nb_NO/
  docs/source/locale/es/LC_MESSAGES/develop.po
  docs/source/locale/es/LC_MESSAGES/tor.po
  docs/source/locale/uk/LC_MESSAGES/advanced.po
  docs/source/locale/uk/LC_MESSAGES/develop.po
  docs/source/locale/uk/LC_MESSAGES/features.po
  docs/source/locale/uk/LC_MESSAGES/help.po
  docs/source/locale/uk/LC_MESSAGES/install.po
  docs/source/locale/uk/LC_MESSAGES/security.po
  docs/source/locale/uk/LC_MESSAGES/tor.po
  share/locale/nb.json
Owners: @micahflee, @emmapeel2

Translated using Weblate (Norwegian Bokmål) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/nb_NO/
  docs/source/locale/es/LC_MESSAGES/develop.po
  docs/source/locale/es/LC_MESSAGES/tor.po
  docs/source/locale/uk/LC_MESSAGES/advanced.po
  docs/source/locale/uk/LC_MESSAGES/develop.po
  docs/source/locale/uk/LC_MESSAGES/features.po
  docs/source/locale/uk/LC_MESSAGES/help.po
  docs/source/locale/uk/LC_MESSAGES/install.po
  docs/source/locale/uk/LC_MESSAGES/security.po
  docs/source/locale/uk/LC_MESSAGES/tor.po
  share/locale/nb.json
Owners: @micahflee, @emmapeel2

move norwegian translation
  share/locale/nb_NO.json
Owners: @emmapeel2

move norwegian translation
  share/locale/nb_NO.json
Owners: @emmapeel2

removed because it is duplicated by nb_NO that already has translations
  docs/source/locale/nb/LC_MESSAGES/advanced.po
  docs/source/locale/nb/LC_MESSAGES/develop.po
  docs/source/locale/nb/LC_MESSAGES/features.po
  docs/source/locale/nb/LC_MESSAGES/help.po
  docs/source/locale/nb/LC_MESSAGES/index.po
  docs/source/locale/nb/LC_MESSAGES/install.po
  docs/source/locale/nb/LC_MESSAGES/security.po
  docs/source/locale/nb/LC_MESSAGES/sphinx.po
  docs/source/locale/nb/LC_MESSAGES/tor.po
Owners: @micahflee

move norwegian translation
  share/locale/nb_NO.json
Owners: @emmapeel2

move norwegian translation
  share/locale/nb_NO.json
Owners: @emmapeel2

correct Norwegian bokmål language code to the one used on the app
  docs/build.sh
Owners: @micahflee

removed because it is duplicated by nb_NO that already has translations
  docs/source/locale/nb/LC_MESSAGES/advanced.po
  docs/source/locale/nb/LC_MESSAGES/develop.po
  docs/source/locale/nb/LC_MESSAGES/features.po
  docs/source/locale/nb/LC_MESSAGES/help.po
  docs/source/locale/nb/LC_MESSAGES/index.po
  docs/source/locale/nb/LC_MESSAGES/install.po
  docs/source/locale/nb/LC_MESSAGES/security.po
  docs/source/locale/nb/LC_MESSAGES/sphinx.po
  docs/source/locale/nb/LC_MESSAGES/tor.po
Owners: @micahflee

correct Norwegian bokmål language code to the one used on the app
  docs/build.sh
Owners: @micahflee

alphabetical order makes easier to check languages
  docs/build.sh
Owners: @micahflee

alphabetical order makes easier to check languages
  docs/build.sh
Owners: @micahflee

Translated using Weblate (Ukrainian)
  docs/source/locale/es/LC_MESSAGES/advanced.po
  docs/source/locale/es/LC_MESSAGES/tor.po
  docs/source/locale/uk/LC_MESSAGES/advanced.po
  docs/source/locale/uk/LC_MESSAGES/develop.po
  docs/source/locale/uk/LC_MESSAGES/features.po
  docs/source/locale/uk/LC_MESSAGES/tor.po
  share/locale/da.json
  share/locale/tr.json
  share/locale/uk.json
Owners: @micahflee, @emmapeel2

Translated using Weblate (Ukrainian)
  docs/source/locale/es/LC_MESSAGES/advanced.po
  docs/source/locale/es/LC_MESSAGES/tor.po
  docs/source/locale/uk/LC_MESSAGES/advanced.po
  docs/source/locale/uk/LC_MESSAGES/develop.po
  docs/source/locale/uk/LC_MESSAGES/features.po
  docs/source/locale/uk/LC_MESSAGES/tor.po
  share/locale/da.json
  share/locale/tr.json
  share/locale/uk.json
Owners: @micahflee, @emmapeel2
