Repository onionshare/onionshare, changes with the owners that .github/CODEOWNERS names for each.
All owners: @micahflee, @emmapeel2, @mig5

Hide QR code button when server stops. Capitalise Code
  onionshare_gui/tab/server_status.py
  share/locale/en.json
Owners: @micahflee, @emmapeel2

Add tests to make sure URL, QR Code, description etc are hidden when server stops
  tests/gui_base_test.py
Owners: @mig5

Add tests to make sure URL, QR Code, description etc are hidden when server stops
  tests/gui_base_test.py
Owners: @mig5

Added translation using Weblate (Lithuanian)
  share/locale/lt.json
Owners: @emmapeel2

Added translation using Weblate (Lithuanian)
  share/locale/lt.json
Owners: @emmapeel2

Translated using Weblate (Lithuanian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/lt/
  share/locale/lt.json
Owners: @emmapeel2

Translated using Weblate (Lithuanian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/lt/
  share/locale/lt.json
Owners: @emmapeel2

Translated using Weblate (Bengali) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/bn/
  share/locale/bn.json
Owners: @emmapeel2

Translated using Weblate (Bengali) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/bn/
  share/locale/bn.json
Owners: @emmapeel2

Translated using Weblate (Polish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/pl/
  share/locale/pl.json
Owners: @emmapeel2

Translated using Weblate (Polish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/pl/
  share/locale/pl.json
Owners: @emmapeel2

Translated using Weblate (Danish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/da/
  share/locale/da.json
Owners: @emmapeel2

Translated using Weblate (Danish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/da/
  share/locale/da.json
Owners: @emmapeel2

Translated using Weblate (Swedish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/sv/
  share/locale/sv.json
Owners: @emmapeel2

Translated using Weblate (Swedish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/sv/
  share/locale/sv.json
Owners: @emmapeel2

Translated using Weblate (Ukrainian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/uk/
  share/locale/uk.json
Owners: @emmapeel2

Translated using Weblate (Ukrainian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/uk/
  share/locale/uk.json
Owners: @emmapeel2

Split chat messages into username and message, and change UI for displaying messages
  onionshare/web/chat_mode.py
  poetry.lock
  pyproject.toml
  share/static/css/style.css
  share/static/js/chat.js
  share/templates/chat.html
Owners: @micahflee

Split chat messages into username and message, and change UI for displaying messages
  onionshare/web/chat_mode.py
  poetry.lock
  pyproject.toml
  share/static/css/style.css
  share/static/js/chat.js
  share/templates/chat.html
Owners: @micahflee

Remove new message and change username buttons (user just presses enter instead) and update a bunch of css
  share/static/css/style.css
  share/static/js/chat.js
  share/templates/chat.html
Owners: @micahflee

Remove new message and change username buttons (user just presses enter instead) and update a bunch of css
  share/static/css/style.css
  share/static/js/chat.js
  share/templates/chat.html
Owners: @micahflee

Beautify new tab page
  onionshare_gui/gui_common.py
  onionshare_gui/tab/tab.py
  share/images/mode_chat.png
  share/images/mode_chat.svg
  share/images/mode_new_tab_chat.png
  share/images/mode_new_tab_receive.png
  share/images/mode_new_tab_share.png
  share/images/mode_new_tab_website.png
  share/images/mode_receive.png
  share/images/mode_receive.svg
  share/images/mode_share.png
  share/images/mode_share.svg
  share/images/mode_website.png
  share/images/mode_website.svg
  share/locale/en.json
Owners: @micahflee, @emmapeel2

Beautify new tab page
  onionshare_gui/gui_common.py
  onionshare_gui/tab/tab.py
  share/images/mode_chat.png
  share/images/mode_chat.svg
  share/images/mode_new_tab_chat.png
  share/images/mode_new_tab_receive.png
  share/images/mode_new_tab_share.png
  share/images/mode_new_tab_website.png
  share/images/mode_receive.png
  share/images/mode_receive.svg
  share/images/mode_share.png
  share/images/mode_share.svg
  share/images/mode_website.png
  share/images/mode_website.svg
  share/locale/en.json
Owners: @micahflee, @emmapeel2

Share mode and website mode are looking awesome
  onionshare_gui/gui_common.py
  onionshare_gui/tab/mode/file_selection.py
  onionshare_gui/tab/mode/share_mode/__init__.py
  onionshare_gui/tab/mode/website_mode/__init__.py
  share/images/mode_share.png
  share/locale/en.json
Owners: @micahflee, @emmapeel2

Share mode and website mode are looking awesome
  onionshare_gui/gui_common.py
  onionshare_gui/tab/mode/file_selection.py
  onionshare_gui/tab/mode/share_mode/__init__.py
  onionshare_gui/tab/mode/website_mode/__init__.py
  share/images/mode_share.png
  share/locale/en.json
Owners: @micahflee, @emmapeel2

Receive mode and chat mode are also looking awesome
  onionshare_gui/gui_common.py
  onionshare_gui/tab/mode/__init__.py
  onionshare_gui/tab/mode/chat_mode/__init__.py
  onionshare_gui/tab/mode/receive_mode/__init__.py
  onionshare_gui/tab/server_status.py
  share/images/mode_chat.png
  share/images/mode_receive.png
Owners: @micahflee

Receive mode and chat mode are also looking awesome
  onionshare_gui/gui_common.py
  onionshare_gui/tab/mode/__init__.py
  onionshare_gui/tab/mode/chat_mode/__init__.py
  onionshare_gui/tab/mode/receive_mode/__init__.py
  onionshare_gui/tab/server_status.py
  share/images/mode_chat.png
  share/images/mode_receive.png
Owners: @micahflee

Show chat mode server status widgets in the tab bar as well
  onionshare_gui/tab/tab.py
Owners: @micahflee

Show chat mode server status widgets in the tab bar as well
  onionshare_gui/tab/tab.py
Owners: @micahflee

Delete lock file if it's stale
  onionshare_gui/__init__.py
  poetry.lock
  pyproject.toml
Owners: @micahflee

Delete lock file if it's stale
  onionshare_gui/__init__.py
  poetry.lock
  pyproject.toml
Owners: @micahflee

Fix drag and drop by hiding DropHereWidget widget, and adjust location of DropCountLabel
  onionshare_gui/tab/mode/file_selection.py
Owners: @micahflee

Fix drag and drop by hiding DropHereWidget widget, and adjust location of DropCountLabel
  onionshare_gui/tab/mode/file_selection.py
Owners: @micahflee

Make macOS tabs left-aligned, and manually add close button
  onionshare_gui/gui_common.py
  onionshare_gui/tab/tab.py
  onionshare_gui/tab_widget.py
  share/images/close_tab.png
  share/locale/en.json
Owners: @micahflee, @emmapeel2

Make macOS tabs left-aligned, and manually add close button
  onionshare_gui/gui_common.py
  onionshare_gui/tab/tab.py
  onionshare_gui/tab_widget.py
  share/images/close_tab.png
  share/locale/en.json
Owners: @micahflee, @emmapeel2

Allow tor files to be in /usr/share or /usr/local/share in tests
  tests/test_cli_common.py
Owners: @mig5

Allow tor files to be in /usr/share or /usr/local/share in tests
  tests/test_cli_common.py
Owners: @mig5

Fix base GUI test to take account that the macOS version has separate Add Files and Add Folder
  tests/gui_base_test.py
Owners: @mig5

Fix base GUI test to take account that the macOS version has separate Add Files and Add Folder
  tests/gui_base_test.py
Owners: @mig5

Adds check whether username already exists
  onionshare/web/chat_mode.py
  share/static/css/style.css
  share/static/js/chat.js
  share/templates/chat.html
Owners: @micahflee

.github/CODEOWNERS:

* @micahflee

# localization
/share/locale/ @emmapeel2

# tests
/tests/ @mig5
/tests_gui_local/ @mig5
/tests_gui_tor/ @mig5
