Repository onionshare/onionshare, changes with the owners that .github/CODEOWNERS names for each.
All owners: @micahflee, @emmapeel2, @mig5

.github/CODEOWNERS:

* @micahflee

# localization
/share/locale/ @emmapeel2

# tests
/tests/ @mig5
/tests_gui_local/ @mig5
/tests_gui_tor/ @mig5

update os name. reported by translator zakooch, thanks!
  docs/source/tor.rst
Owners: @micahflee

update os name. reported by translator zakooch, thanks!
  docs/source/tor.rst
Owners: @micahflee

Translated using Weblate (Spanish)
  docs/source/locale/es/LC_MESSAGES/tor.po
Owners: @micahflee

Translated using Weblate (Spanish)
  docs/source/locale/es/LC_MESSAGES/tor.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/advanced.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/advanced.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/develop.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/develop.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/features.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/features.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/help.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/help.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/index.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/index.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/install.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/install.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/security.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/security.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/sphinx.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/sphinx.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/tor.po
Owners: @micahflee

Added translation using Weblate (Norwegian Bokmål)
  docs/source/locale/nb_NO/LC_MESSAGES/tor.po
Owners: @micahflee

Translated using Weblate (Norwegian Bokmål)
  docs/source/locale/es/LC_MESSAGES/advanced.po
  docs/source/locale/es/LC_MESSAGES/develop.po
  docs/source/locale/es/LC_MESSAGES/features.po
  docs/source/locale/es/LC_MESSAGES/help.po
  docs/source/locale/es/LC_MESSAGES/index.po
  docs/source/locale/es/LC_MESSAGES/install.po
  docs/source/locale/es/LC_MESSAGES/security.po
  docs/source/locale/es/LC_MESSAGES/sphinx.po
  docs/source/locale/es/LC_MESSAGES/tor.po
  docs/source/locale/nb_NO/LC_MESSAGES/tor.po
Owners: @micahflee

Translated using Weblate (Norwegian Bokmål)
  docs/source/locale/es/LC_MESSAGES/advanced.po
  docs/source/locale/es/LC_MESSAGES/develop.po
  docs/source/locale/es/LC_MESSAGES/features.po
  docs/source/locale/es/LC_MESSAGES/help.po
  docs/source/locale/es/LC_MESSAGES/index.po
  docs/source/locale/es/LC_MESSAGES/install.po
  docs/source/locale/es/LC_MESSAGES/security.po
  docs/source/locale/es/LC_MESSAGES/sphinx.po
  docs/source/locale/es/LC_MESSAGES/tor.po
  docs/source/locale/nb_NO/LC_MESSAGES/tor.po
Owners: @micahflee

Update docs for just English and Spanish (for now)
  docs/build.sh
  docs/gettext/.doctrees/advanced.doctree
  docs/gettext/.doctrees/develop.doctree
  docs/gettext/.doctrees/environment.pickle
  docs/gettext/.doctrees/features.doctree
  docs/gettext/.doctrees/help.doctree
  docs/gettext/.doctrees/index.doctree
  docs/gettext/.doctrees/install.doctree
  docs/gettext/.doctrees/security.doctree
  docs/gettext/.doctrees/tor.doctree
  docs/source/_static/screenshots/tabs.png
  docs/source/conf.py
Owners: @micahflee

Update docs for just English and Spanish (for now)
  docs/build.sh
  docs/gettext/.doctrees/advanced.doctree
  docs/gettext/.doctrees/develop.doctree
  docs/gettext/.doctrees/environment.pickle
  docs/gettext/.doctrees/features.doctree
  docs/gettext/.doctrees/help.doctree
  docs/gettext/.doctrees/index.doctree
  docs/gettext/.doctrees/install.doctree
  docs/gettext/.doctrees/security.doctree
  docs/gettext/.doctrees/tor.doctree
  docs/source/_static/screenshots/tabs.png
  docs/source/conf.py
Owners: @micahflee

Fix deb packaging
  BUILD.md
  onionshare_gui/tab/tab.py
  stdeb.cfg
Owners: @micahflee

Fix deb packaging
  BUILD.md
  onionshare_gui/tab/tab.py
  stdeb.cfg
Owners: @micahflee

Add RPM dependencies to build_rpm.sh
  install/build_rpm.sh
Owners: @micahflee

Add RPM dependencies to build_rpm.sh
  install/build_rpm.sh
Owners: @micahflee

Translated using Weblate (Ukrainian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/uk/
  docs/source/locale/uk/LC_MESSAGES/sphinx.po
  share/locale/fr.json
  share/locale/nb.json
  share/locale/uk.json
Owners: @micahflee, @emmapeel2

Translated using Weblate (Ukrainian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/uk/
  docs/source/locale/uk/LC_MESSAGES/sphinx.po
  share/locale/fr.json
  share/locale/nb.json
  share/locale/uk.json
Owners: @micahflee, @emmapeel2

Added translation using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/index.po
Owners: @micahflee

Added translation using Weblate (Ukrainian)
  docs/source/locale/uk/LC_MESSAGES/index.po
Owners: @micahflee

Fix check_lacked_trans.py so it works with black formatting, and remove unused translations from en.json
  install/check_lacked_trans.py
  share/locale/en.json
Owners: @micahflee, @emmapeel2

Fix check_lacked_trans.py so it works with black formatting, and remove unused translations from en.json
  install/check_lacked_trans.py
  share/locale/en.json
Owners: @micahflee, @emmapeel2

Use different test string to test translations
  tests/test_cli_strings.py
Owners: @mig5

Use different test string to test translations
  tests/test_cli_strings.py
Owners: @mig5

Oops, add back these english strings that the checking script cannot find
  share/locale/en.json
Owners: @emmapeel2

Oops, add back these english strings that the checking script cannot find
  share/locale/en.json
Owners: @emmapeel2
