Repository onionshare/onionshare, changes with the owners that .github/CODEOWNERS names for each.
All owners: @micahflee, @emmapeel2, @mig5

.github/CODEOWNERS:

* @micahflee

# localization
/share/locale/ @emmapeel2

# tests
/tests/ @mig5
/tests_gui_local/ @mig5
/tests_gui_tor/ @mig5

Spelling: "Tor authentication settings"
  docs/source/tor.rst
Owners: @micahflee

Spelling: "Tor authentication settings"
  docs/source/tor.rst
Owners: @micahflee

Translated using Weblate (Spanish)
  docs/source/locale/es/LC_MESSAGES/advanced.po
  share/locale/hr.json
Owners: @micahflee, @emmapeel2

Translated using Weblate (Spanish)
  docs/source/locale/es/LC_MESSAGES/advanced.po
  share/locale/hr.json
Owners: @micahflee, @emmapeel2

Security design documentation reworked
  docs/source/security.rst
Owners: @micahflee

Security design documentation reworked
  docs/source/security.rst
Owners: @micahflee

Install documentation reworked
  docs/source/install.rst
Owners: @micahflee

Install documentation reworked
  docs/source/install.rst
Owners: @micahflee

Help documentation reworked
  docs/source/help.rst
Owners: @micahflee

Help documentation reworked
  docs/source/help.rst
Owners: @micahflee

Features documentation reworked
  docs/source/features.rst
Owners: @micahflee

Features documentation reworked
  docs/source/features.rst
Owners: @micahflee

Developing OnionShare documentation reworked
  docs/source/develop.rst
Owners: @micahflee

Developing OnionShare documentation reworked
  docs/source/develop.rst
Owners: @micahflee

Advanced Usage documentation reworked
  docs/source/advanced.rst
Owners: @micahflee

Advanced Usage documentation reworked
  docs/source/advanced.rst
Owners: @micahflee

Translated using Weblate (French) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/fr/
  docs/source/locale/es/LC_MESSAGES/advanced.po
  share/locale/ca.json
  share/locale/de.json
  share/locale/fr.json
  share/locale/hr.json
  share/locale/nb_NO.json
  share/locale/nl.json
  share/locale/pl.json
  share/locale/pt_BR.json
  share/locale/pt_PT.json
  share/locale/ro.json
  share/locale/ru.json
  share/locale/sv.json
  share/locale/tr.json
Owners: @micahflee, @emmapeel2

Translated using Weblate (French) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/fr/
  docs/source/locale/es/LC_MESSAGES/advanced.po
  share/locale/ca.json
  share/locale/de.json
  share/locale/fr.json
  share/locale/hr.json
  share/locale/nb_NO.json
  share/locale/nl.json
  share/locale/pl.json
  share/locale/pt_BR.json
  share/locale/pt_PT.json
  share/locale/ro.json
  share/locale/ru.json
  share/locale/sv.json
  share/locale/tr.json
Owners: @micahflee, @emmapeel2

Translated using Weblate (Afrikaans) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/af/
  share/locale/af.json
  share/locale/bg.json
  share/locale/bn.json
  share/locale/da.json
  share/locale/el.json
  share/locale/fa.json
  share/locale/fi.json
  share/locale/fr.json
  share/locale/ga.json
  share/locale/hu.json
  share/locale/is.json
  share/locale/it.json
  share/locale/ja.json
  share/locale/sr_Latn.json
  share/locale/uk.json
  share/locale/zh_Hans.json
  share/locale/zh_Hant.json
Owners: @emmapeel2

Translated using Weblate (Afrikaans) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/af/
  share/locale/af.json
  share/locale/bg.json
  share/locale/bn.json
  share/locale/da.json
  share/locale/el.json
  share/locale/fa.json
  share/locale/fi.json
  share/locale/fr.json
  share/locale/ga.json
  share/locale/hu.json
  share/locale/is.json
  share/locale/it.json
  share/locale/ja.json
  share/locale/sr_Latn.json
  share/locale/uk.json
  share/locale/zh_Hans.json
  share/locale/zh_Hant.json
Owners: @emmapeel2

Add pywin32 dependency for windows
  BUILD.md
  poetry.lock
  pyproject.toml
Owners: @micahflee

Add pywin32 dependency for windows
  BUILD.md
  poetry.lock
  pyproject.toml
Owners: @micahflee

Update README.md
  README.md
Owners: @micahflee

Update README.md
  README.md
Owners: @micahflee

Translated using Weblate (Swedish)
  docs/source/locale/pl/LC_MESSAGES/advanced.po
  docs/source/locale/pl/LC_MESSAGES/develop.po
  docs/source/locale/pl/LC_MESSAGES/sphinx.po
  docs/source/locale/sv/LC_MESSAGES/sphinx.po
  share/locale/da.json
  share/locale/nl.json
  share/locale/pl.json
  share/locale/zh_Hans.json
Owners: @micahflee, @emmapeel2

Translated using Weblate (Swedish)
  docs/source/locale/pl/LC_MESSAGES/advanced.po
  docs/source/locale/pl/LC_MESSAGES/develop.po
  docs/source/locale/pl/LC_MESSAGES/sphinx.po
  docs/source/locale/sv/LC_MESSAGES/sphinx.po
  share/locale/da.json
  share/locale/nl.json
  share/locale/pl.json
  share/locale/zh_Hans.json
Owners: @micahflee, @emmapeel2

Remove installing VC++ Redistributable Package from Windows build instructions
  BUILD.md
Owners: @micahflee

Remove installing VC++ Redistributable Package from Windows build instructions
  BUILD.md
Owners: @micahflee

Fix PyQt5 path in Windows build instructions
  BUILD.md
Owners: @micahflee

Fix PyQt5 path in Windows build instructions
  BUILD.md
Owners: @micahflee

Translated using Weblate (Lithuanian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/lt/
  share/locale/lt.json
  share/locale/pt_BR.json
Owners: @emmapeel2

Translated using Weblate (Lithuanian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/lt/
  share/locale/lt.json
  share/locale/pt_BR.json
Owners: @emmapeel2

Add PyInstaller and Windows SDK paths to the PyInstaller paths
  install/pyinstaller.spec
Owners: @micahflee

Add PyInstaller and Windows SDK paths to the PyInstaller paths
  install/pyinstaller.spec
Owners: @micahflee

Only include dependencies we really need
  poetry.lock
  pyproject.toml
Owners: @micahflee

Only include dependencies we really need
  poetry.lock
  pyproject.toml
Owners: @micahflee

Get Tor binary from Tor Browser 10.0
  install/get-tor-osx.py
  install/get-tor-windows.py
Owners: @micahflee

Get Tor binary from Tor Browser 10.0
  install/get-tor-osx.py
  install/get-tor-windows.py
Owners: @micahflee

Port from PyQt5 to PySide2
  desktop/README.md
  desktop/pyproject.toml
  desktop/src/onionshare/__init__.py
  desktop/src/onionshare/__main__.py
  desktop/src/onionshare/main_window.py
  desktop/src/onionshare/resources/onionshare-128.png
  desktop/src/onionshare/resources/onionshare-16.png
  desktop/src/onionshare/resources/onionshare-256.png
  desktop/src/onionshare/resources/onionshare-32.png
  desktop/src/onionshare/resources/onionshare-512.png
  desktop/src/onionshare/resources/onionshare-64.png
  desktop/src/onionshare/settings_dialog.py
  desktop/src/onionshare/tab/mode/__init__.py
  desktop/src/onionshare/tab/mode/chat_mode/__init__.py
  desktop/src/onionshare/tab/mode/file_selection.py
  desktop/src/onionshare/tab/mode/history.py
  desktop/src/onionshare/tab/mode/mode_settings_widget.py
  desktop/src/onionshare/tab/mode/receive_mode/__init__.py
  desktop/src/onionshare/tab/mode/share_mode/__init__.py
  desktop/src/onionshare/tab/mode/share_mode/threads.py
  desktop/src/onionshare/tab/mode/website_mode/__init__.py
  desktop/src/onionshare/tab/server_status.py
  desktop/src/onionshare/tab/tab.py
  desktop/src/onionshare/tab_widget.py
  desktop/src/onionshare/threads.py
  desktop/src/onionshare/tor_connection_dialog.py
  desktop/src/onionshare/update_checker.py
  desktop/src/onionshare/widgets.py
  desktop/tests/gui_base_test.py
  desktop/tests/test_gui_receive.py
  desktop/tests/test_gui_share.py
  desktop/tests/test_gui_tabs.py
  desktop/tests/test_gui_website.py
Owners: @micahflee

Port from PyQt5 to PySide2
  desktop/README.md
  desktop/pyproject.toml
  desktop/src/onionshare/__init__.py
  desktop/src/onionshare/__main__.py
  desktop/src/onionshare/main_window.py
  desktop/src/onionshare/resources/onionshare-128.png
  desktop/src/onionshare/resources/onionshare-16.png
  desktop/src/onionshare/resources/onionshare-256.png
  desktop/src/onionshare/resources/onionshare-32.png
  desktop/src/onionshare/resources/onionshare-512.png
  desktop/src/onionshare/resources/onionshare-64.png
  desktop/src/onionshare/settings_dialog.py
  desktop/src/onionshare/tab/mode/__init__.py
  desktop/src/onionshare/tab/mode/chat_mode/__init__.py
  desktop/src/onionshare/tab/mode/file_selection.py
  desktop/src/onionshare/tab/mode/history.py
  desktop/src/onionshare/tab/mode/mode_settings_widget.py
  desktop/src/onionshare/tab/mode/receive_mode/__init__.py
  desktop/src/onionshare/tab/mode/share_mode/__init__.py
  desktop/src/onionshare/tab/mode/share_mode/threads.py
  desktop/src/onionshare/tab/mode/website_mode/__init__.py
  desktop/src/onionshare/tab/server_status.py
  desktop/src/onionshare/tab/tab.py
  desktop/src/onionshare/tab_widget.py
  desktop/src/onionshare/threads.py
  desktop/src/onionshare/tor_connection_dialog.py
  desktop/src/onionshare/update_checker.py
  desktop/src/onionshare/widgets.py
  desktop/tests/gui_base_test.py
  desktop/tests/test_gui_receive.py
  desktop/tests/test_gui_share.py
  desktop/tests/test_gui_tabs.py
  desktop/tests/test_gui_website.py
Owners: @micahflee
