Repository onionshare/onionshare, changes with the owners that .github/CODEOWNERS names for each.
All owners: @micahflee, @emmapeel2, @mig5

.github/CODEOWNERS:

* @micahflee

# localization
/share/locale/ @emmapeel2

# tests
/tests/ @mig5
/tests_gui_local/ @mig5
/tests_gui_tor/ @mig5

Fix header
  docs/source/install.rst
Owners: @micahflee

Fix chinese links
  docs/source/index.rst
  docs/source/locale/ar/LC_MESSAGES/index.po
  docs/source/locale/ca/LC_MESSAGES/index.po
  docs/source/locale/da/LC_MESSAGES/index.po
  docs/source/locale/de/LC_MESSAGES/index.po
  docs/source/locale/el/LC_MESSAGES/index.po
  docs/source/locale/en/LC_MESSAGES/index.po
  docs/source/locale/es/LC_MESSAGES/index.po
  docs/source/locale/fa/LC_MESSAGES/index.po
  docs/source/locale/fr/LC_MESSAGES/index.po
  docs/source/locale/ga/LC_MESSAGES/index.po
  docs/source/locale/is/LC_MESSAGES/index.po
  docs/source/locale/it/LC_MESSAGES/index.po
  docs/source/locale/ja/LC_MESSAGES/index.po
  docs/source/locale/nb/LC_MESSAGES/index.po
  docs/source/locale/nl/LC_MESSAGES/index.po
  docs/source/locale/pl/LC_MESSAGES/index.po
  docs/source/locale/pt_BR/LC_MESSAGES/index.po
  docs/source/locale/pt_PT/LC_MESSAGES/index.po
  docs/source/locale/ro/LC_MESSAGES/index.po
  docs/source/locale/ru/LC_MESSAGES/index.po
  docs/source/locale/sr@latin/LC_MESSAGES/index.po
  docs/source/locale/sv/LC_MESSAGES/index.po
  docs/source/locale/te/LC_MESSAGES/index.po
  docs/source/locale/tr/LC_MESSAGES/index.po
  docs/source/locale/uk/LC_MESSAGES/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/index.po
  docs/source/locale/zh_TW/LC_MESSAGES/index.po
Owners: @micahflee

Fix chinese links
  docs/source/index.rst
  docs/source/locale/ar/LC_MESSAGES/index.po
  docs/source/locale/ca/LC_MESSAGES/index.po
  docs/source/locale/da/LC_MESSAGES/index.po
  docs/source/locale/de/LC_MESSAGES/index.po
  docs/source/locale/el/LC_MESSAGES/index.po
  docs/source/locale/en/LC_MESSAGES/index.po
  docs/source/locale/es/LC_MESSAGES/index.po
  docs/source/locale/fa/LC_MESSAGES/index.po
  docs/source/locale/fr/LC_MESSAGES/index.po
  docs/source/locale/ga/LC_MESSAGES/index.po
  docs/source/locale/is/LC_MESSAGES/index.po
  docs/source/locale/it/LC_MESSAGES/index.po
  docs/source/locale/ja/LC_MESSAGES/index.po
  docs/source/locale/nb/LC_MESSAGES/index.po
  docs/source/locale/nl/LC_MESSAGES/index.po
  docs/source/locale/pl/LC_MESSAGES/index.po
  docs/source/locale/pt_BR/LC_MESSAGES/index.po
  docs/source/locale/pt_PT/LC_MESSAGES/index.po
  docs/source/locale/ro/LC_MESSAGES/index.po
  docs/source/locale/ru/LC_MESSAGES/index.po
  docs/source/locale/sr@latin/LC_MESSAGES/index.po
  docs/source/locale/sv/LC_MESSAGES/index.po
  docs/source/locale/te/LC_MESSAGES/index.po
  docs/source/locale/tr/LC_MESSAGES/index.po
  docs/source/locale/uk/LC_MESSAGES/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/index.po
  docs/source/locale/zh_TW/LC_MESSAGES/index.po
Owners: @micahflee

Commit the english .pot files to the repo
  docs/build.sh
  docs/gettext/.doctrees/advanced.doctree
  docs/gettext/.doctrees/develop.doctree
  docs/gettext/.doctrees/environment.pickle
  docs/gettext/.doctrees/features.doctree
  docs/gettext/.doctrees/help.doctree
  docs/gettext/.doctrees/index.doctree
  docs/gettext/.doctrees/install.doctree
  docs/gettext/.doctrees/security.doctree
  docs/gettext/.doctrees/tor.doctree
  docs/gettext/advanced.pot
  docs/gettext/develop.pot
  docs/gettext/features.pot
  docs/gettext/help.pot
  docs/gettext/index.pot
  docs/gettext/install.pot
  docs/gettext/security.pot
  docs/gettext/tor.pot
Owners: @micahflee

Commit the english .pot files to the repo
  docs/build.sh
  docs/gettext/.doctrees/advanced.doctree
  docs/gettext/.doctrees/develop.doctree
  docs/gettext/.doctrees/environment.pickle
  docs/gettext/.doctrees/features.doctree
  docs/gettext/.doctrees/help.doctree
  docs/gettext/.doctrees/index.doctree
  docs/gettext/.doctrees/install.doctree
  docs/gettext/.doctrees/security.doctree
  docs/gettext/.doctrees/tor.doctree
  docs/gettext/advanced.pot
  docs/gettext/develop.pot
  docs/gettext/features.pot
  docs/gettext/help.pot
  docs/gettext/index.pot
  docs/gettext/install.pot
  docs/gettext/security.pot
  docs/gettext/tor.pot
Owners: @micahflee

Wait longer in GUI tabs test, and check for the precense of chat mode widget in GUI base tests
  tests/gui_base_test.py
  tests/test_gui_tabs.py
Owners: @mig5

Wait longer in GUI tabs test, and check for the precense of chat mode widget in GUI base tests
  tests/gui_base_test.py
  tests/test_gui_tabs.py
Owners: @mig5

Update readme
  README.md
Owners: @micahflee

Update readme
  README.md
Owners: @micahflee

Make connecting to Tor CLI progress all display on the same line
  onionshare/onion.py
Owners: @micahflee

Make connecting to Tor CLI progress all display on the same line
  onionshare/onion.py
Owners: @micahflee

Change `== None` to `is None`
  onionshare/onion.py
Owners: @micahflee

Change `== None` to `is None`
  onionshare/onion.py
Owners: @micahflee

Adds versioning HTML to the docs
  docs/source/_templates/languages.html
  docs/source/_templates/versions.html
  docs/source/conf.py
Owners: @micahflee

Adds versioning HTML to the docs
  docs/source/_templates/languages.html
  docs/source/_templates/versions.html
  docs/source/conf.py
Owners: @micahflee

Translated using Weblate (French) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/fr/
  share/locale/da.json
  share/locale/de.json
  share/locale/es.json
  share/locale/fr.json
  share/locale/nb.json
  share/locale/uk.json
Owners: @emmapeel2

Translated using Weblate (French) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/fr/
  share/locale/da.json
  share/locale/de.json
  share/locale/es.json
  share/locale/fr.json
  share/locale/nb.json
  share/locale/uk.json
Owners: @emmapeel2

Typo in changelog
  CHANGELOG.md
Owners: @micahflee

Typo in changelog
  CHANGELOG.md
Owners: @micahflee

Translated using Weblate (Croatian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/hr/
  share/locale/hr.json
  share/locale/uk.json
Owners: @emmapeel2

Translated using Weblate (Croatian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/hr/
  share/locale/hr.json
  share/locale/uk.json
Owners: @emmapeel2

Translated using Weblate (Spanish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/es/
  share/locale/de.json
  share/locale/es.json
Owners: @emmapeel2

Translated using Weblate (Spanish) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/es/
  share/locale/de.json
  share/locale/es.json
Owners: @emmapeel2

Translated using Weblate (Icelandic) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/is/
  share/locale/es.json
  share/locale/fr.json
  share/locale/is.json
Owners: @emmapeel2

Translated using Weblate (Icelandic) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/is/
  share/locale/es.json
  share/locale/fr.json
  share/locale/is.json
Owners: @emmapeel2

Adds UI/UX enhancements in different sections of tab layouts
  onionshare_gui/gui_common.py
  onionshare_gui/tab/mode/__init__.py
  onionshare_gui/tab/mode/chat_mode/__init__.py
  onionshare_gui/tab/mode/receive_mode/__init__.py
  onionshare_gui/tab/mode/share_mode/__init__.py
  onionshare_gui/tab/mode/website_mode/__init__.py
  onionshare_gui/tab/tab.py
  share/images/logo_text.png
  share/images/mode_new_tab_chat.png
  share/images/mode_new_tab_receive.png
  share/images/mode_new_tab_share.png
  share/images/mode_new_tab_website.png
  share/images/mode_share.png
  share/images/mode_website.png
  share/locale/en.json
Owners: @micahflee, @emmapeel2

Adds UI/UX enhancements in different sections of tab layouts
  onionshare_gui/gui_common.py
  onionshare_gui/tab/mode/__init__.py
  onionshare_gui/tab/mode/chat_mode/__init__.py
  onionshare_gui/tab/mode/receive_mode/__init__.py
  onionshare_gui/tab/mode/share_mode/__init__.py
  onionshare_gui/tab/mode/website_mode/__init__.py
  onionshare_gui/tab/tab.py
  share/images/logo_text.png
  share/images/mode_new_tab_chat.png
  share/images/mode_new_tab_receive.png
  share/images/mode_new_tab_share.png
  share/images/mode_new_tab_website.png
  share/images/mode_share.png
  share/images/mode_website.png
  share/locale/en.json
Owners: @micahflee, @emmapeel2

Makes history panel full height in share and website mode
  onionshare_gui/tab/mode/share_mode/__init__.py
  onionshare_gui/tab/mode/website_mode/__init__.py
Owners: @micahflee

Makes history panel full height in share and website mode
  onionshare_gui/tab/mode/share_mode/__init__.py
  onionshare_gui/tab/mode/website_mode/__init__.py
Owners: @micahflee

Translated using Weblate (Croatian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/hr/
  share/locale/de.json
  share/locale/hr.json
  share/locale/nb.json
  share/locale/uk.json
Owners: @emmapeel2

Translated using Weblate (Croatian) Translate-URL: https://hosted.weblate.org/projects/onionshare/translations/hr/
  share/locale/de.json
  share/locale/hr.json
  share/locale/nb.json
  share/locale/uk.json
Owners: @emmapeel2

Translated using Weblate (Spanish)
  docs/source/locale/es/LC_MESSAGES/advanced.po
  share/locale/da.json
Owners: @micahflee, @emmapeel2

Translated using Weblate (Spanish)
  docs/source/locale/es/LC_MESSAGES/advanced.po
  share/locale/da.json
Owners: @micahflee, @emmapeel2

Added translation using Weblate (Spanish)
  docs/source/locale/es/LC_MESSAGES/develop.po
Owners: @micahflee

Added translation using Weblate (Spanish)
  docs/source/locale/es/LC_MESSAGES/develop.po
Owners: @micahflee

Added translation using Weblate (Spanish)
  docs/source/locale/es/LC_MESSAGES/sphinx.po
Owners: @micahflee

Added translation using Weblate (Spanish)
  docs/source/locale/es/LC_MESSAGES/sphinx.po
Owners: @micahflee

Added translation using Weblate (Spanish)
  docs/source/locale/es/LC_MESSAGES/features.po
Owners: @micahflee

Added translation using Weblate (Spanish)
  docs/source/locale/es/LC_MESSAGES/features.po
Owners: @micahflee

Added translation using Weblate (Spanish)
  docs/source/locale/es/LC_MESSAGES/help.po
Owners: @micahflee
